@model bibliotech.Models.Emprestimo  // Certifique-se de ajustar o modelo de acordo com sua aplicação

@{
    ViewData["Title"] = "Excluir Empréstimo";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Você tem certeza que deseja excluir este empréstimo?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID:</dt>
        <dd class="col-sm-10">@Model.ID</dd>

        <dt class="col-sm-2">Livro:</dt>
        <dd class="col-sm-10">@Model.Livro.Titulo</dd>

        <dt class="col-sm-2">Usuário:</dt>
        <dd class="col-sm-10">@Model.Usuario.Nome</dd>

        <dt class="col-sm-2">Data Empréstimo:</dt>
        <dd class="col-sm-10">@Model.DataEmprestimo.ToShortDateString()</dd>

        <dt class="col-sm-2">Data Devolução:</dt>
        <dd class="col-sm-10">
            @if (Model.DataDevolucao.HasValue)
            {
                @Model.DataDevolucao.Value.ToShortDateString()
            }
            else
            {
                <text>Não devolvido</text>
            }
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <input type="submit" value="Confirmar Exclusão" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
