@page
@model IEnumerable<bibliotech.Models.Livro>

@{
    ViewData["Title"] = "Livros";
}

<h1>Livros</h1>

<p>
    <a asp-action="Create">Adicionar Novo Livro</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>ISBN</th>
            <th>Ano de Publicação</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Titulo</td>
                <td>@item.Autor</td>
                <td>@item.ISBN</td>
                <td>@item.AnoPublicacao</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>