@model IEnumerable<bibliotech.Models.Usuario>

@{
    ViewData["Title"] = "Lista de Usuários";
}

<h1>Lista de Usuários</h1>

<p>
    <a asp-controller="Usuario" asp-action="Create" class="btn btn-primary">Adicionar Novo Usuário</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Data de Registro</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.ID</td>
                <td>@usuario.Nome</td>
                <td>@usuario.Email</td>
                <td>@usuario.DataRegistro</td>
                <td>
                    <a asp-controller="Usuario" asp-action="Edit" asp-route-id="@usuario.ID">Editar</a> |
                    <a asp-controller="Usuario" asp-action="Delete" asp-route-id="@usuario.ID">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
